#content{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 88px;
}
div.card-body{
    display: grid;
    grid-template-columns: 1fr 2fr;
    height: 200px;
}
div.article-img{
    height: 200px;
}
div.article-img img{
    height: 200px;
}