<header>
    <div class="title">
        <h1><a [routerLink]="['/articles']" routerLinkActive="router-link-active">Título do blog</a></h1>
    </div>
    <nav class="navbar">
        <ul>
            <li>
                <a [routerLink]="['/articles']" routerLinkActive="router-link-active" class="nav-item">Articles</a>
            </li>
            <li>
                <a [routerLink]="['/about']" routerLinkActive="router-link-active" class="nav-item">About</a>
            </li>
        </ul>
    </nav>
</header>