header {
    background-color: #45848B;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3em;

}
.title h1{
    font-size: 32px;
    line-height: 32px;
    font-weight: bold;
}
.title h1 a, .navbar ul li a{
    text-decoration: none;
    outline: none;
    color: #E7E8C6;
}
.navbar ul{
    display: flex;
    width: 125px;
    align-items: center;
    justify-content: space-between;
}
.navbar ul li{
    opacity: 0.8;
    font-size: 18px;
    transition: all 90ms linear;
}

.navbar ul li:hover{
    font-weight: 500;
    opacity: 1;
    border-bottom: 1.8px solid #E7E8C6;
}